.darkMode:root {
  --clr-bg: hsl(207, 26%, 17%);
  --clr-font: hsl(0, 0%, 100%);
  --clr-element: hsl(209, 23%, 22%);
}

.lightMode:root {
  --clr-bg: hsl(0, 0%, 98%);
  --clr-font: hsl(200, 15%, 8%);
  --clr-element: hsl(0, 0%, 100%);
}
