.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--clr-bg);
}

.modeContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}
